<!DOCTYPE html>
<html lang="en">

<head>
   <title>main page</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5 {
         font-family: "Raleway", sans-serif
      }

      .w3-third img {
         margin-bottom: -6px;
         opacity: 0.8;
         cursor: pointer
      }

      .w3-third img:hover {
         opacity: 1
      }
   </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">


   <!-- Sidebar/menu -->
   <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center"
      style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
      <h3 class="w3-padding-64 w3-center"><b>H&M<br>Recommendation</b></h3>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
      <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">MAIN</a>
      <a href="{{url_for('visualization')}}" onclick="w3_close()" class="w3-bar-item w3-button">VISUALIZATION</a>
      <a href="{{url_for('recommend')}}" onclick="w3_close()" class="w3-bar-item w3-button">RECOMMENDATION</a>
      <a href="{{url_for('us')}}#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
      <a href="{{url_for('us')}}#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
   </nav>
   <!-- Top menu on small screens -->
   <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
      <span class="w3-left w3-padding">H&M Recommendation</span>
      <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
   </header>

   <!-- Overlay effect when opening sidebar on small screens -->
   <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
      title="close side menu" id="myOverlay"></div>

   <!-- !PAGE CONTENT! -->
   <div class="w3-main" style="margin-left:300px">

      <!-- Push down content on small screens -->
      <div class="w3-hide-large" style="margin-top:83px"></div>

      <!-- Create 創建客戶資料-->
      <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
         <div class="w3-content" style="max-width:1000px">
            <h4 class="w3-center"><b>Customer Interface</b></h4>

            {%- for message in get_flashed_messages() %}
            {{ message }}
            {%- endfor %}


            <form action="{{ request.path }}" method="post" id="cus_form">


               <div class="w3-container">

                  <div class="w3-bar w3-black">

                     <label for="name" style="width:20% " class="w3-bar-item">Name</label></a>
                     <label for="gender" style="width:20%" class="w3-bar-item">Gender</label></a>
                     <label for="age" style="width:20%" class="w3-bar-item">Age</label></a>
                     <label for="club" style="width:20%" class="w3-bar-item">Club</label></a>
                     <label for="fashion" style="width:20%" class="w3-bar-item">Fashion</label><br>

                     <input class="w3-bar-item" style="width:20%" type="text" name="name" placeholder="Name" /></a>


                     <select class="w3-bar-item" style="width:20%" name="gender" form="cus_form" required='required'>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                     </select></a>


                     <select class="w3-bar-item" style="width:20%" name="age" form="cus_form" required='required'>
                        <option value="18~25">18~25</option>
                        <option value="26~35">26~35</option>
                        <option value="36~45">36~45</option>
                     </select></a>


                     <!-- <input type="text" name="club" /><br> -->
                     <select class="w3-bar-item" style="width:20%" name="club" form="cus_form" required='required'>
                        <option value="Activate">Activate</option>
                        <option value="None">None</option>
                     </select></a>

                     <select class="w3-bar-item" style="width:20%" name="fnews" form="cus_form" required='required'>
                        <option value="Frequency">Frequency</option>
                        <option value="Sometimes">Sometimes</option>
                        <option value="None">None</option>

                     </select></a>


                  </div>
                     <!-- <input type="submit" value="Submit" /> -->
                     <button id="sub" class="w3-button w3-block w3-black w3-margin-bottom" type='submit'>Submit</button>
               </div>
            </form>
         </div>


         <!-- Table Content -->

         <div class="w3-content ">
            <h4 class="w3-center"><b>Customer info</b></h4>

            <div class="w3-section">

               <table class="w3-table-all">
                  <thead>
                     <tr>
                        <th width="150">Name</th>
                        <th width="100">Gender</th>
                        <th width="100">Age</th>
                        <th width="100">Club</th>
                        <th width="100">Fashion News</th>
                        <th width="100">Recommendation</th>

                     </tr>
                  </thead>

                  <tbody>
                     {% for info in appInfo %}


                     <tr>
                        <td>{{ info.name }}</td>
                        <td>{{ info.gender }}</td>
                        <td>{{ info.age }}</td>
                        <td>{{ info.club }}</td>
                        <td>{{ info.fnews }}</td>
                        <td align="center"> <a href="/predict/{{info.id }}"><i class="fa fa-search"></i></a> </td>

                        <!-- <td align="center"> <a href="/delete/{{info.id }}"><i class="fa fa-search"></i>Customized</a> </td> -->


                     </tr>
                     {% endfor %}


                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <!-- Modal for full size  images on click-->
      <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
         <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
         <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
         </div>
      </div>



      <!-- End page content -->
   </div>

   <script>
      // Script to open and close sidebar
      function w3_open() {
         document.getElementById("mySidebar").style.display = "block";
         document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
         document.getElementById("mySidebar").style.display = "none";
         document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
         document.getElementById("img01").src = element.src;
         document.getElementById("modal01").style.display = "block";
         var captionText = document.getElementById("caption");
         captionText.innerHTML = element.alt;
      }

   </script>


</body>

</html>